.my-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
  }
  
  .skill-item {
    width: 33%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .skill-item h3 {
    font-size: var(--font-size-l);
    font-family: var(--font-family-montserrat);
    margin-bottom: 20px;
  }
  
  .skill-item p {
    font-size: var(--font-size-s);
    font-family: var(--font-family-kurale);
    line-height: 1.5;
  }
  .workGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    grid-template-areas:
      "tripAssist . cafeConnect"
      "workImage1 workImage2 workImage3"
      "viewCaseStudy1 viewCaseStudy2 viewCaseStudy3";
  }
  
  .tripAssist {
    grid-area: tripAssist;
  }
  
  .cafeConnect {
    grid-area: cafeConnect;
  }
  
  .theStop {
    grid-area: theStop;
  }
  
  .workImage1 {
    grid-area: workImage1;
    background-image: url('img/workImage1.jpg');
    background-size: cover;
  }
  
  .workImage2 {
    grid-area: workImage2;
    background-image: url('img/workImage2.jpg');
    background-size: cover;
  }
  
  .workImage3 {
    grid-area: workImage3;
    background-image: url('img/workImage3.jpg');
    background-size: cover;
  }
  
  .viewCaseStudy1 {
    grid-area: viewCaseStudy1;
  }
  
  .viewCaseStudy2 {
    grid-area: viewCaseStudy2;
  }
  
  .viewCaseStudy3 {
    grid-area: viewCaseStudy3;
  }
  
  